<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tap-attack-duel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB82BA091B9CAAE0005948A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB82BA1D1B9CAAE0005948A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB82BA281B9CAAE0005948A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
